:root {
  /* Colors */
  --ios-system-blue: #0071e3;
  --ios-label: #1d1d1f;
  --ios-secondary-label: #86868b;
  --ios-tertiary-label: #aeaeb2;
  --ios-system-background: #ffffff;
  --ios-secondary-background: #f5f5f7;
  --ios-tertiary-background: #e5e5ea;
  --ios-system-red: #ff3b30;
  --ios-system-green: #34c759;
  --ios-system-orange: #ff9500; 

  /* Border Radius */
  --ios-border-radius-container: 28px;
  --ios-border-radius-element: 12px;
  --ios-border-radius-base: 6px;

  /* Shadows */
  --ios-shadow-container: 0 4px 6px rgba(0, 0, 0, 0.05);
  --ios-shadow-element: 0 2px 4px rgba(0, 0, 0, 0.03);
  --ios-shadow-focused: 0 0 0 3px rgba(0, 124, 250, 0.15);

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--ios-secondary-background);
  color: var(--ios-label);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}


.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}
