
.content-card {
    background: var(--ios-system-background);
    padding: 1.3rem;
    border-radius: var(--ios-border-radius-container);
    box-shadow: var(--ios-shadow-element);
    min-height: 20vh;
}